<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<ion-view title="Icon Selection">
       <ion-content>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-ios7-person cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-help-buoy cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-home cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-heart cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-settings cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-edit cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-clipboard cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-briefcase cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-calendar cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-map cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-arrow-graph-up-right cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-person-stalker cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-beer cat"></i></div>
            <div class="col">  <a href="#"  id="target"  ng-click="returnCat('ion-coffee cat')"> <i ng-click="returnCat($event)" class="icon ion-coffee cat"></i>
                </a> </div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-pizza cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-wineglass cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-images cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-wand cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-music-note cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-bag cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-earth cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-trophy cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-plane cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-model-s cat"></i></div>
        </div>
        
          <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-ios7-person cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-help-buoy cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-home cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-heart cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-settings cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-edit cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-clipboard cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-briefcase cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-calendar cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-map cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-arrow-graph-up-right cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-person-stalker cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-beer cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-coffee cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-pizza cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-wineglass cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-images cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-wand cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-music-note cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-bag cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-earth cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-trophy cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-plane cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-model-s cat"></i></div>
        </div>
          <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-ios7-person cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-help-buoy cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-home cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-heart cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-settings cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-edit cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-clipboard cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-briefcase cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-calendar cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-map cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-arrow-graph-up-right cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-person-stalker cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-beer cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-coffee cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-pizza cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-wineglass cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-images cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-wand cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-music-note cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-bag cat"></i></div>
        </div>
        <div class="row">
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-earth cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-trophy cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-plane cat"></i></div>
            <div class="col"> <i ng-click="returnCat($event)" class="icon ion-model-s cat"></i></div>
        </div>
    </ion-content>
</ion-view>
