<ion-view view-title="Lists">

    <ion-nav-buttons side="right">
        <a href="#/app/newList">
            <button class="button button-icon button-clear button-positive ion-ios7-plus-empty">
            </button>
        </a>
    </ion-nav-buttons>
    
  <ion-content>

      <ion-list>

      <ion-item class="item-icon-left item-icon-right" ng-repeat="list in lists" type="item-text-wrap"
                  href="#/app/lists/{{list._id}}">
        <i class="{{list.icon}}"></i>

          <h2>{{list.title}}</h2>

          <div style="float:left">{{list.date}}</div>
          <div style="float:right"> {{list.balance}} €</div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

