<ion-view view-title="{{list.title}}" class="listView">
    <ion-nav-buttons side="right">

            <button ng-click="newPurchase()" class="button button-icon button-clear button-positive ion-ios7-plus-empty">
            </button>

    </ion-nav-buttons>

    <div class="tabs tabs-top tabs-icon-top">
        <a class="tab-item" ng-class="{'tab-item-active':  template == templates[0]}">
            <i class="icon ion-ios7-cart" ng-click="template=templates[0]"></i>
            Purchases
        </a>
        <a class="tab-item" ng-class="{'tab-item-active':  template == templates[1]}">
            <i class="icon ion-ios7-people" ng-click="template=templates[1]"></i>
            Member
        </a>
        <a class="tab-item" ng-class="{'tab-item-active':  template == templates[2]}">
            <i class="icon ion-arrow-graph-up-right" ng-click="template=templates[2]"></i>
            Statistics
        </a>
        <a class="tab-item" ng-class="{'tab-item-active':  template == templates[3]}">
            <i class="icon ion-gear-a" ng-click="template=templates[3]"></i>
            Settings
        </a>
    </div>

    <ion-content class="has-subheader">
        <div ng-include="template"></div>
    </ion-content>





</ion-view>
