<ion-list>
    <ion-item class="item-avatar " ng-repeat="member in members" type="item-text-wrap">
        <img ng-src="{{member.face}}">
        <h2>{{member.firstName}} {{member.lastName}}</h2>
        <!--<div style="float:left;">{{member.email}}</div>-->
        <div style="float:right;" ng-class="{ red: member.balance < 0 }"> {{member.balance}} €</div>

    </ion-item>
    <a class="item item-divider"></a>
</ion-list>


<canvas id="base" chart-type="chart.type" class="chart-base" data="chart.data" series="chart.series"
        legend="chart.legend" options="chart.options"
        labels="chart.labels"></canvas>
