<ion-view view-title="members" class="members">
  <ion-content>
       <div style="padding-bottom: 0px;" class="row responsive-sm">
           <div style="text-align: center; padding-bottom: 0px;"><div class="profilePicDefaultSmall"> <i class="icon ion-ios7-person"></i></div></div>
         <!--  <div style="border:none" class="item item-input-inset">
               <label class="item-input-wrapper">
                   <input type="text" placeholder="Email">
               </label>
               <button class="button button-small">
                   Submit
               </button>
           </div>-->
           <label class="item item-input">
               <input type="text" placeholder="Email">
           </label>
           <i style="font-size: 200%; float: right;" class="icon ion-ios7-plus-outline"></i>

       </div>
         <label class="item item-input">
                <span class="input-label">First Name</span>
                <input type="text" value="{{profile.firstName}}">
            </label>
  </ion-content>
</ion-view>
