<ion-view view-title="members" class="members">
  <ion-content>
      <ion-list>

          <ion-item class="item-icon-left item-icon-right" ng-repeat="list in lists" type="item-text-wrap"
                    href="#/app/lists/{{list._id}}">
              <i class="{{list.icon}}"></i>

              <h2>{{list.title}}</h2>

              <div style="float:left">{{list.date}}</div>
              <div style="float:right"> {{list.balance}} €</div>
              <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
      </ion-list>

            <div class="social-icon-holder">
                <span class="ion-ios7-home social-icon"></span>
            </div>
  </ion-content>
</ion-view>
