<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button  class="button-positive">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear button-positive ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item style="background-color: #f5f5f5;" nav-clear menu-close href="#/app/lists" class="item item-icon-left">
            <i class="icon ion-home"></i>
          Lists
        </ion-item>
<!--
        <ion-item class="item-icon-left"  ng-repeat="list in lists" type="item-text-wrap" href="#/app/lists/{{list.id}}">
        <i class="{{list.icon}}"></i>
        {{list.name}}
      </ion-item>
-->
          
        <ion-item nav-clear menu-close href="#/app/browse" class="item item-icon-left">
          <i class="icon ion-arrow-graph-up-right"></i>
             My Balance
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/profile" class="item item-icon-left">
              <i class="icon ion-ios7-person"></i>
            Profile
        </ion-item>
      </ion-list>
    </ion-content>
      <div class="bar bar-footer">
    <div class="bar bar-footer bar-stable">
  <div class="title">Logout</div>
</div>
</div>
  </ion-side-menu>
</ion-side-menus>
