<ion-view view-title="New Purchase">
    
     <ion-nav-buttons side="right">
        <a href="#/app/purchase">      
            <button class="button button-clear button-positive">
            Done</button>
        </a>
        </ion-nav-buttons>
    
  <ion-content>
      <div class="list purchaseDetails">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Title</span>
    <input type="text" placeholder="Groceries">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Date</span>
    <input type="text" placeholder="12.01.1989">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Amount</span>
    <input type="number" placeholder="25,00">
  </label>
</div>
      
      
            
<div class="list">
  <a class="item item-icon-left item-divider" href="#">
    <i class="icon ion-ios7-person"></i>
    Participants
  </a>
    <a style="text-align:center; color: rgb(56,126, 245);" class="item" href="#">
       Everybody
    </a>
     <a style="text-align:center; color: rgb(56,126, 245);" class="item " href="#">
     <span style="position:absolute; top: 16px; left: 16px;">0x</span>  Daniel  <span style="position:absolute; top: 16px; right: 16px;">0.00 €</span>
  </a>
    <a style="text-align:center; color: rgb(56,126, 245);" class="item " href="#">
        <span style="position:absolute; top: 16px; left: 16px;">0x</span>  Michel  <span style="position:absolute; top: 16px; right: 16px;">0.00 €</span>
  </a>
    <a style="text-align:center; color: rgb(56,126, 245);" class="item " href="#">
         <span style="position:absolute; top: 16px; left: 16px;">0x</span>  Tobi  <span style="position:absolute; top: 16px; right: 16px;">0.00 €</span>
  </a>
</div>
  </ion-content>
</ion-view>
