<ion-view view-title="Edit Purchase">
    
     <ion-nav-buttons side="right">
        <a href="#/app/purchase">      
            <button class="button button-clear button-positive">
            Update</button>
        </a>
        </ion-nav-buttons>
    
  <ion-content>
      <div class="list">
            <a class="item item-divider"></a>
            <label class="item item-input">
                <span class="input-label">Title</span>
                <input type="text" value="Groceries">
            </label>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" value="2011-09-29">
            </label>
            <label class="item item-input">
                <span class="input-label">Amount</span>
                <input type="number" value="50.00">
            </label>

            <a class="item item-divider"></a>
            <a style="text-align:center; color: rgb(56,126, 245);" class="item">Nobody</a>
            <a class="item item-avatar" href="#">
                <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
                <h2>Ben Sparrow</h2>
                 <p style="float:left;">2x</p><p style="float:right;">20,00 €</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="https://avatars3.githubusercontent.com/u/11214?v=3&s=460">
                <h2>Max Lynx</h2>
                <p style="float:left;">1x</p><p style="float:right;">10,00 €</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="https://pbs.twimg.com/profile_images/491274378181488640/Tti0fFVJ.jpeg">
                <h2>Andrew Jostlen</h2>
                <p style="float:left;">1x</p><p style="float:right;">10,00 €</p>
            </a>
              <a class="item item-avatar" href="#">
                <img src="https://pbs.twimg.com/profile_images/479090794058379264/84TKj_qa.jpeg">
                <h2>Adam Bradleyson</h2>
                <p style="float:left;">1x</p><p style="float:right;">10,00 €</p>
            </a>
           <a class="item item-divider"></a>
          <a style="text-align:center; color: red;" class="item">Delete Purchase</a>
          <a class="item item-divider"></a>
        </div>      
      
  </ion-content>
</ion-view>
