/* Empty. Add your own CSS if you like */
.negativBalance {
    color: red;
}

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    max-height: 55px;
    max-width: 55px;
    top: 10px;
    left: 8px;
}

.purchaseDetails .input-label {
    color: rgb(56, 126, 245);
}

.newPurchase .scroll-content, .profile .scroll-content, .purchaseTitle .scroll-content {
    background-color: #f5f5f5;
}

.newPurchase textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    font-size: 16px;
}

.profilePic {
    max-height: 155px;
    max-width: 155px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.profilePicDefault {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 800%;
    background-color: rgba(220, 220, 220, 0.7);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profilePicDefault i {
    position: relative;
    top: 15px;
}

i.cat {
    font-size: 300%;
    color: black;
}

.col {
    text-align: center;
}

.purchaseTitle .item-divider {
    font-weight: normal;
    height: 54px;
}

/* Login View */
.loginView > .button {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
}

.button-fb {
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
    color: #fff;
}

.button-google-plus {
    background-color: #dd4b39 !important;
    border-color: #dd4b39 !important;
    color: #fff;
}

.loginView {
    background-image: url(/img/bg2.jpg);
    background-size: cover;
}

.loginView > .loginList {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.loginView > .itemLoginList {
    border-bottom-width: 1px !important;
    border-bottom-color: red;
}

.loginView > .item {
    border-width: 0;
}

.loginView .list-inset {
    background-color: transparent;
}

.loginView .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
}

.loginView > .scroll-content > .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
